.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FAF7FC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ferrari-red {
  color: #AD362B;
}

.coal-black {
  color: #2D2C2C;
}

.ferrari-red-background {
  background-color: #AD362B;
}

.slate-white {
  color: #DAD9D8;
}

.linen-white {
  color: #FDF8F5;
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid #DAD9D8;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  background-color: #FDF8F5;
  background-image: url('https://www.w3schools.com/howto/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=submit] {
  color: #DAD9D8;
  background-color: #AD362B;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  text-align: center;
  padding: 14px 0.5rem 14px 0.5rem;
}

input[type=submit]:hover {
  background-color: #872A22;
  cursor: pointer;
}